h2 Edit Recipe

form.form-horizontal name="recipeForm" ng-submit="save()"
  .form-group
    label.col-sm-2.control-label for="title" Title:
    .col-sm-4
      input.form-control#title ng-model="recipe.title" focus="" required=""
  .form-group
    label.col-sm-2.control-label for="description" Description:
    .col-sm-4
      textarea.form-control#description ng-model="recipe.description"
  .form-group ng-controller="IngredientsCtrl"
    label.col-sm-2.control-label for="ingredients" Ingredients:
    .col-sm-4
      ul#ingredients.list-group
        li.list-group-item ng-repeat="ingredient in recipe.ingredients"
          input ng-model="::ingredient.amount" placeholder="amount" style="width:50px;border:none;border-bottom:1px solid #ccc;margin-right:10px"
          input ng-model="::ingredient.units" placeholder=="units" style="width:50px;border:none;border-bottom:1px solid #ccc;margin-right:10px"
          input ng-model="::ingredient.name" placeholder="name" style="width:50px;border:none;border-bottom:1px solid #ccc;margin-right:10px"
          button.btn.btn-xs.btn-default type="button" ng-click="removeIngredient($index)"
            span.glyphicon.glyphicon-minus-sign
            | Delete
      button.btn.btn-xs.btn-default type="button" ng-click="addIngredient()"
        span.glyphicon.glyphicon-plus-sign
        | Add

  .form-group
    label.col-sm-2.control-label for="instructions" Instructions
    .col-sm-4
      textarea.form-control#instructions ng-model="recipe.instructions" rows="10"

  .col-sm-offset-2.col-sm-4
    button.btn.btn-primary Save
    button.btn.btn-default type="button" ng-click="remove()" ng-show="recipe.id" Delete
